.validation {
  background-color: #1890FF !important;
  color: white !important;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  flex-direction: row !important;
}

.home .homeContainer {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.home .homeContainer .innerD {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  row-gap: 10px !important;
}

.home .homeContainer .innerD .selectB:hover {
  -webkit-transform: none !important;
          transform: none !important;
}

.home .homeContainer .innerD .pop.tran {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.home .homeContainer .innerD .pop .inpop {
  max-width: 900px;
  margin: 0 auto !important;
  position: relative;
}

.home .homeContainer .innerD .pop .inpop i {
  position: absolute;
  right: 220px;
  top: 50px;
  color: red !important;
  font-size: 18px;
}

.home .homeContainer .innerD h6 {
  text-transform: capitalize;
  letter-spacing: 0px;
  position: absolute;
  margin: 18px 0 10px 25px;
  font-weight: 600;
  font-size: 15px;
}

.home .homeContainer .innerD .tb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 939px;
  margin: 0 80px 0px;
  padding-left: 20px;
  margin-top: 2px;
  padding: 20px;
}

.home .homeContainer .innerD .tb thead {
  display: none;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.home .homeContainer .innerD .tb thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: bold;
  font-size: 20px;
  font-weight: 600;
}

.home .homeContainer .innerD .tb tbody {
  padding-left: 15px;
}

.home .homeContainer .innerD .tb tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  margin-top: 10px;
}

.home .homeContainer .widgets .widgetIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: -20px 25px 25px 25px !important;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .homeContainer .widgets .widgetIn .getB {
  -webkit-transition: all ease 6s !important;
  transition: all ease 6s !important;
}

.home .homeContainer .widgets .dHolder .details p {
  display: inline-block !important;
}

.home .homeContainer .widgets .dHolder .details span {
  font-size: 14px !important;
  font-weight: 500;
}

.home .homeContainer .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}

.home .homeContainer .listContainer .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}
/*# sourceMappingURL=home.css.map */